<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.79.0">
    <title>Fianal</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/sign-in/">



    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <meta name="theme-color" content="#7952b3">
    <style>
        .sub {

            width: 150px;
            height: 45px;
            margin-left: 20px;
            display: button;
        }

        .button {
            position: fixed;
            bottom: 10px;
            left: 95%;
            margin-left: -104.5px;
            /*104.5px is half of the button's width*/
        }

        .section {


            left: 45%;
            margin-left: -104.5px;

        }

        .navb {

            margin-left: 87%;
            display: flex;
            margin-top: -30px;

        }

        .navmain {
            position: relative;
            background-color: #536162;
            margin-top: -21px;
            width: 100%;
            height: 50px;
        }

        .nav_bu {
            margin-right: 4px;
        }
        .box_type{
            height:100px;
            width: 100px;
            background-color: #b67162;
            margin-left:20px;
            margin-right: 20px;
            margin-top: 20px;
            margin-bottom: 20px;
        }
        
            .buttons{
                width: 200px;
                height: 50px;
                margin: 20px;
                background-color: #b4a5a5;
            }
        
    </style>
    <link rel="stylesheet" href="styles.css">
</head>

<body style="background-color: #f3f4ed">

    <div class="navmain">
        <h2>Announcement</h2>

        <div class="navb">
            <div class=nav_bu>
                <form action="/go_login" method="post">
                    <button type="submit" class="btn btn-light">Login</button>
                </form>
            </div>
            <div class=nav_bu>
                <form action="/go_sign" method="post">
                    <button type="submit" class="btn btn-light">Sign up</button>
                </form>
            </div>
        </div>


    </div>





    <div class="section">

        <br><br><br><br>
        <center>
           
            <%for(var i=allsub.length; i>=2;i--){%>
            <button type="button" class="btn btn-secondary buttons">
                
                <a href="/subjects/<%=allsub[i-1].Subj%>"><h3 style="margin-top: 0px;"><%=allsub[i-1].Subj%></h3></a>
            
            
            </button>
            <%}%>

         


</body>

</html>